body{
    background-color: rgb(167, 168, 223);
    width: 50%;
    height: auto;
    margin: auto;
    border-radius: 700px;
    padding: 50px;
    
}

/* .episode {
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: center;
} */

/* .summary {
    padding: 10px 150px;
} */